.inputButton {
    background-color: silver;
    width: 100%;
    border-radius: 10%;
}

.enterBtn {
    height: 11vh;

}

.actionBtn {
    display: flex;
    justify-content: right;
}

.userInput {
    margin-top: 2vh;
    /* background-color: blue; */
    display: flex;
    justify-content: right;
}

.enterGridCell {
    height: 100%;
}

.action-buttons {
    display: flex;
    justify-content: right;
    gap: 1em;
}