.inputButton {
    background-color: silver;
    width: 100%;
    border-radius: 10%;
}

.enterBtn {
    height: 100%;
}

.actionBtn {
    display: flex;
    justify-content: right;
    /* width: 30%; */
}

.actionBtn>:first-child {
    width: 20%;
}

.userInput {
    margin-top: 3vh;
    /* background-color: blue; */
    display: flex;
    justify-content: right;

}

.enterGridCell {
    /* height: 20vh; */
    background-color: green;
    padding: 1.38em;
}

.action-buttons {
    display: flex;
    justify-content: right;
    background-color: green;
    padding: 1em;
    gap: 1em;
}

.answerInput {
    /* background-color: blue; */
    /* margin-top: 50px; */
}

.parentAnswerInput {
    background-color: white;
    padding: 20px;
}