body {
    margin: 0;
}

.appNav {
    display: flex;
    align-items: center;
    background-color: rgb(74, 74, 74);
    margin: 0px;
    padding-left: 1vw;
    color: white;
    gap: 2em;
}

.logo {
    background-color: white;
    height: 7vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1.2vw;

    cursor: pointer;
}

.newGame {
    cursor: pointer;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}