.questionCard {
    /* background-color: red; */
    /* background-image: url('./white_carbon.webp'); */
    /* height: 50vh; */
    /* padding-top: 5vh; */
    height: 40vh;
    /* padding-top: 1vh; */
    margin-top: 5vh;
}

.questionContent {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: -2vh;
    /* margin-left: -0.5vw; */
}

.enabled {
    background-color: white;
}

.disabled {
    background-color: gray;
    cursor: default;
}

.subtitle {
    /* background-color: silver; */
    background-image: url('./white_carbon.webp');
    width: 100%;
}

.MuiTypography-overline {
    padding-left: 20px;
    width: auto;
}

.question {
    margin-top: 1vh;
    height: 100%;
    font-size: 30px;    
    padding: 20px;
    cursor: default;
}